<h1>New task</h1>

<% if @task.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/tasks" method="post">
  <label for='task_description'>Description</label>
  <input id='task_description' name='description' type='text' value="<%= @task.description %>">
  <label for='task_due_date'>Due Date</label>
  <input id='task_due_date' name='due_date' type='date' value="<%= @task.due_date %>">
  <label for='task_priority'>Priority</label>
  <select id='task_priority' name='priority'>
    <option value=1>One</option>
    <option value=2>Two</option>
    <option value=3>Three</option>
  </select>
  <button>Add Task</button>
</form>
